{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 150
      }
    ],
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/prefer-stateless-function": "off",
    "react/destructuring-assignment": "off",
    "no-unused-vars": [
      1,
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "no-underscore-dangle": "off",
    "semi": "error",
    "no-else-return": "off",
    "no-console": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": false,
        "optionalDependencies": false,
        "peerDependencies": true
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "multiline": true
        },
        "ObjectPattern": {
          "multiline": true
        },
        "ImportDeclaration": "never",
        "ExportDeclaration": {
          "multiline": true,
          "minProperties": 3
        }
      }
    ],
    "react-hooks/rules-of-hooks": "warn",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "alias": {
          "#components": "./src/components",
          "#lib": "./src/lib"
        }
      }
    }
  }
}